html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #8d949e;
    background: #fff;
    line-height: 1.5;
}

a,
a:visited {
    color: #8d949e;
}

h1,
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #171A21;
    letter-spacing: -2px;
}

h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #171A21;
    letter-spacing: -1px;
}

img {
    max-width: 100%
}

/* HEADER MOBILE */
.header .site-name h1 {
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.header .site-name h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 8px;
}

.header {
    padding: 20px 0 0;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 9;
}

/* Remove Owl Dots */
.owl-dots {
    display: none !important;
}

/* HERO MOBILE */
.hero {
    padding: 116px 0 0;
}

.page-title {
    padding: 156px 0 0;
}

.hero {
    background: linear-gradient(135deg, #feffd8, #d7f5f9, #feffd8, #d7f5f9);
    position: relative;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero .hero-text {
    padding: 4rem 0 6rem;
    z-index: 1
}

.hero .curve {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.hero .button.konsultasi {
    background-color: #171A21;
    border: 9px solid #ceedd6;
    color: #daf6f6;
    font-size: 16px;
    border-radius: 48px;
    letter-spacing: 1px;
    padding: 2rem 5.2rem;
    height: inherit;
    margin: 10px 0 0 0;
    transition: .2s ease-in;
}

.hero .button.konsultasi:hover {
    border: 9px solid #171A21;
    transition: .2s ease-in;
}



/* COUNTER MOBILE */
.counters {
    text-align: center;
    margin-top: 40px
}

.counters > .column {
    margin-bottom: 30px;
}

.counters .counter {
    font-size: 50px;
    font-weight: 700;
    color: #171A21;
    margin: 0;
    line-height: 1;
    display: inline-block;
}

.counters .counter-text {
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    letter-spacing: 0;
    text-align: left;
    vertical-align: baseline;
}


/* TAGS MOBILE */
.tags {
    padding-top: 80px;
}

.tags .button-outline {
    border: 1px solid #8d949e;
    color: #8d949e;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
    font-weight: 400;
}

.scroll {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.scroll span {
    display: inline-block;
    margin-right: 40px;
}


.scroll-rtl {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-rtl span {
    display: inline-block;
    margin-right: 40px;
}

/* DESCRIPTION MOBILE */
.description {
    text-align: center;
    padding: 80px 0 10px;
}

.pdf {
    text-align: center;
}

.pdf .button.konsultasi {
    background-color: #171A21;
    border: 9px solid #ceedd6;
    color: #daf6f6;
    font-size: 16px;
    border-radius: 48px;
    letter-spacing: 1px;
    padding: 2rem 5.2rem;
    height: inherit;
    margin: 10px 0 0 0;
    transition: .2s ease-in;
}

.pdf .button.konsultasi:hover {
    border: 9px solid #171A21;
    transition: .2s ease-in;
}


/* KEUNGGULAN */
.keunggulan {
    margin-top: 80px;
    padding: 80px 0;
    background: linear-gradient(225deg, #feffd8 0%, #d7f5f9 100%);
}

.keunggulan h1 {
    text-align: center;
}

.keunggulan .feat-list {
    margin-top: 40px 0;
    flex: 1;
    align-items: stretch;
    align-content: flex-end;
}

.keunggulan .feat {
    padding: 40px 0 0;
    border-radius: 12px;
    transition: .4s ease-in;
}

.keunggulan .feat-header {
    display: flex;
}

.keunggulan .feat-text {
    margin-left: 20px;
}

.keunggulan .feat-title {
    font-size: 22px;
    font-weight: 700;
    color: #171A21;
    line-height: 1.15;
    display: block;
    margin: 10px 0;
    letter-spacing: -1px
}

.keunggulan .feat .icon i.fa-hand-spock {
    font-size: 36px;
    border-radius: 40px;
    padding: 14px 12px;
    background: #a1dcf0;
    color: #327489;
}

.keunggulan .feat .icon i.fa-hand-point-up {
    font-size: 36px;
    border-radius: 40px;
    padding: 14px 19px;
    background: #f0e1a1;
    color: #896e32;
}

.keunggulan .feat .icon i.fa-hand-peace {
    font-size: 36px;
    border-radius: 40px;
    padding: 14px 14px;
    background: #a1f0b0;
    color: #538932;
}

.keunggulan .small {
    margin-top: 80px;
    display: block;
    line-height: 1.15;
    text-align: center;
}

/* WORKS MOBILE */
.works {
    padding: 80px 0;
}

.logos .owl-centered .owl-wrapper {
    display: table !important;
}

.logos .owl-centered .owl-item {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.logos .owl-centered .owl-item div {
    text-align: center;
}

.logos {
    margin: 40px 0;
}

.logos img {
    max-height: 80px;
    width: inherit !important;
    margin: 0 auto;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.portfolio.owl-carousel > .owl-stage-outer {
    overflow: visible !important;
}

.portfolio img {
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 50px -8px rgba(188, 204, 214, 1);
    -moz-box-shadow: 0px 0px 50px -8px rgba(188, 204, 214, 1);
    box-shadow: 0px 0px 50px -8px rgba(188, 204, 214, 1);
}

.recent-work-container {
    margin-bottom: 80px;
}

.recent-work {
    padding-top: 40px;
}

.recent-work img {
    border-radius: 24px;
}

.recent-work .column .work-desc {
    position: relative;
    display: inline-block;
}

.recent-work img {
    position: relative;
    border-radius: 24px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.recent-work .work-name {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #171A21;
}

.recent-work .work-name.putih {
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #fff;
}

.recent-work .link {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.recent-work .link a {
    padding: 7px 10px;
    background: rgba(255, 255, 255, 0.27);
    border: 1px solid #171A21;
    border-radius: 18px;
    transition: all 0.6s ease-in-out;
    transform: rotateY(0deg);
}

.recent-work .link a:hover {
    padding: 7px 10px;
    background: #171A21;
    color: #fff;
    border: 1px solid #171A21;
    border-radius: 18px;

    transition: all 0.6s ease-in-out;
    transform: rotateY(180deg);
}


/* BLOG */
.blog-container {
    padding-top: 40px;
    margin-bottom: 80px;
}

.blog {
    background: #f8f8f8;
    color: #171A21;
    padding: 40px 30px 40px !important;
    transition: all 0.6s ease-in-out;
    border-radius: 12px;
}

.blog-single {
    margin-top: 200px;
}

.blog-single-content,
.feat-image {
    margin-top: 40px;
}

.feat-image img {
    border-radius: 12px;
}

.blog:hover {
    background: #3a404e;
    transition: all 0.6s ease-in-out;
}

.blog h4 a {
    color: #171A21;
    transition: all 0.6s ease-in-out;
}

.blog:hover h4 a {
    color: #ccced4;
    transition: all 0.6s ease-in-out;
    text-decoration: underline;
}

span.hashtags {
    border-radius: 6px;
    background: #ededed;
    margin-right: 4px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -1px
}

.post-date {
    font-size: 12px;
    color: #939393;
    text-transform: uppercase;
    margin-bottom: 20px
}

.blog a,
.blog-single a {
    transition: all 0.6s ease-in-out;
}

.blog a:hover,
.blog-single a:hover {
    transition: all 0.6s ease-in-out;
}

.a2a_svg,
.a2a_count {
    border-radius: 0 !important;
}

/* TESTIMONIALS */
.testimonials h1,
.testimonials h2 {
    padding-bottom: 18px;
    position: relative;
}

.testimonials h1::before,
.testimonials h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70%;
    /* or 100px */
    border-bottom: 5px solid #ebf1f8;
}

.testimonial .stars i {
    font-size: 14px;
    color: #fab005;
}

.testimonial .nilai {
    margin-left: 6px;
    font-size: 12px;
    background: #fab005;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
}

.testimonial p.nama-klien {
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

/* FORMULIR */
.formulir {
    margin-top: 80px;
    background: #fff;
    padding: 60px 20px 30px 20px;
    border-radius: 48px 48px 0 0;
    border-left: 12px solid rgba(185, 207, 230, 0.29);
    border-top: 12px solid rgba(185, 207, 230, 0.29);
    border-right: 12px solid rgba(185, 207, 230, 0.29);
}

.formulir input:focus,
.formulir textarea:focus {
    border: 1px solid #171A21;
}

.formulir .button.button-outline {
    color: #171A21;
    font-weight: 600;
    border: 1px solid #171A21;
}


/* PENUTUP */
.penutup {
    background: linear-gradient(135deg, #feffd8, #d7f5f9, #feffd8, #d7f5f9);
    position: relative;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 80px 0 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* CTA */
.cta {
    margin-bottom: 80px;
    text-align: center;
}

.cta .button.konsultasi {
    background-color: #171A21;
    border: 9px solid #ceedd6;
    color: #daf6f6;
    font-size: 16px;
    border-radius: 48px;
    letter-spacing: 1px;
    padding: 2rem 5.2rem;
    height: inherit;
    transition: .2s ease-in;
}

.cta .button.konsultasi:hover {
    border: 9px solid #171A21;
    transition: .2s ease-in;
}

/* FOOTER */
.footer {
    background: #fff;
    padding: 60px 40px 40px;
    border-radius: 48px 48px 0 0;
}

.footer .site-name h1 {
    font-weight: 800;
    margin: 0;
    line-height: 1;
}

.footer .site-name h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 8px;
}

.footer h4 {
    font-weight: 700;
}

.footer nav ul {
    list-style: none;
}

.footer nav ul li {
    text-transform: capitalize;
    font-weight: 300;
}

.footer nav ul li a {
    letter-spacing: 1px;
    color: #8d949e;
    transition: 0.4s ease-in;
}

.footer nav ul li a.active {
    font-weight: 600;
    color: #171A21;
}

.footer nav ul li a:hover {
    color: #171A21;
    transition: 0.4s ease-in;
}

.footer i.fa-envelope,
footer i.whatsapp {
    color: #666;
}


/* MOBILE COLUMN PERCENTAGE EDIT, ETC */
@media (max-width: 39.9rem) {

    .row .column.column-20,
    .row .column.column-50,
    .row .column.column-80 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row .column.column-offset-10,
    .row .column.column-offset-25 {
        margin-left: 0;
    }

    .site-logo {
        max-width: 50% !important;
        z-index: 9
    }

    .header-button {
        display: none !important;
    }

    .header .navigasi {
        position: absolute;
        right: 0;
    }

    label {
        margin-bottom: 39px;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4;
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        border-top: 1px solid #f5f5f5;
    }

    /* menu icon */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 24px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 7px;
    }

    .header .menu-icon .navicon:after {
        top: -7px;
    }

    /* menu btn */

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 340px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /* TESTIMONIAL */
    .testimonial-container {
        padding-top: 40px !important;
    }

    /* BLOG */
    .blog-single {
        margin-top: 200px;
    }

    .blog {
        margin-bottom: 30px
    }
}


/* DESKTOP */
@media (min-width: 40.0rem) {
    .container {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
    }

    /* HEADER */

    .header nav {
        margin: 26px 0 0;
    }

    .header nav ul li {
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
        font-weight: 300;
    }

    .header nav ul li a {
        letter-spacing: 1px;
        color: #8d949e;
        transition: 0.4s ease-in;
    }

    .header nav ul li a.active {
        font-weight: 600;
        color: #171A21;
    }

    .header nav ul li a:hover {
        color: #171A21;
        transition: 0.4s ease-in;
    }

    .header .button.konsultasi {
        background-color: #171A21;
        border-color: #171A21;
        color: #daf6f6;
        font-size: 16px;
        border-radius: 30px;
        letter-spacing: 1px;
        padding: 1rem 3.6rem;
        height: inherit;
        margin: 8px 0 0 0;
        float: right;
    }


    .header .menu-btn,
    .header .menu-icon {
        display: none;
    }

    /* HERO */
    .hero .hero-text {
        padding: 14rem 2rem 16rem 4rem;
        z-index: 1
    }

    .hero .hero-text h1 {
        font-size: 62px;
        letter-spacing: -2px;
        line-height: 1.05;
        font-weight: 600;
    }

    .hero .thumbnails {
        padding: 0 0 0 1rem;
        position: relative;
    }

    .hero .thumbnails::before {
        content: " ";
        background: url(../images/thumbnails.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -30px;
        right: -200px;
    }

    /* COUNTER */
    .counters {
        padding: 0 160px;
    }

    /* DESKRIPSI */
    .keunggulan {
        margin-top: 160px;
        padding: 160px 0;
    }

    .keunggulan .feat-list {
        margin-top: 100px 0;
    }

    /* TAGS */
    .scroll {
        margin-bottom: 20px;
    }

    /* KEUNGGULAN */
    .hover {
        padding: 60px 40px 40px !important;
        background: rgba(251, 253, 255, 0.44);
        transition: .4s ease-in;
        -webkit-box-shadow: 0px 0px 25px -8px rgba(188, 204, 214, 1);
        -moz-box-shadow: 0px 0px 25px -8px rgba(188, 204, 214, 1);
        box-shadow: 0px 0px 25px -8px rgba(188, 204, 214, 1);
    }

    .keunggulan .feat {
        padding: 100px 40px 0;
    }

    /* WORKS */
    .works {
        padding: 160px 0 80px;
    }

    .works h1 {
        text-align: center
    }

    .page-title {
        padding: 240px 0 80px;
        text-align: center
    }

    /* TESIMONIALS */
    .testimonials {
        background: url(../images/bg-blur.jpg) bottom center no-repeat;
    }

    .testimonial-container {
        padding-top: 180px !important;
        padding-right: 60px !important;
    }

    /* FORMULIR */
    .formulir {
        background: #fff;
        padding: 60px 60px 30px 60px;
        border-radius: 48px 48px 0 0;
        border-left: 26px solid rgba(185, 207, 230, 0.29);
        border-top: 26px solid rgba(185, 207, 230, 0.29);
        border-right: 26px solid rgba(185, 207, 230, 0.29);
    }

    /* PENUTUP */
    .penutup {
        padding: 160px 0 0;
    }

    /* FOOTER */
    .footer {
        padding: 80px;
    }

    /* CTA */
    .cta h1 {
        font-size: 62px;
    }

    /* BLOG */
    .blog {
        min-height: 306px;
    }
}
