html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #221008;
    background: #f0f0f0;
    line-height: 1.5;
}

a,
a:visited {
    color: #0f0602;
    transition: 0.4s ease-in;
}

a:hover {
    color: #d86c60;
    transition: 0.4s ease-in;
}

h1,
h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #0f0602;
    letter-spacing: -2px;
}

h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: #0f0602;
    letter-spacing: -1px;
}

img {
    max-width: 100%
}

/* HEADER MOBILE */
.header .site-name h1 {
    font-weight: 800;
    margin: 0;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: #fff8ef;
}

.header .site-name h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 8px;
    font-family: 'Inter', sans-serif;
    color: #fff8ef;
}

.header {
    padding: 20px 0 0;
    background: #0f0602;
    position: fixed;
    width: 100vw;
    z-index: 9;
    transition: top 1s ease-in-out;
    top: 0;
}

.nav-up {
    top: -130px;
    transition: top 1s ease-in-out;
}

/* Remove Owl Dots */
.owl-dots {
    display: none !important;
}

/* HERO MOBILE */
.hero-text h1 {
    color: #fff8ef;
    font-size: 56px;
    line-height: 1;
}

.hero-text {
    display: flex;
    align-items: center;
    background: #0f0602;
    width: 100vw;
    height: 100vh;
}

/* PAGE TITLE */
.page-title h1 {
    padding: 180px 0 0;
    font-weight: 800;
}

/* COUNTER MOBILE */
.counters {
    display: none;
}

.counters > .column {
    margin: 30px 0;
}

.counters .counter {
    font-size: 50px;
    font-weight: 700;
    color: #fff8ef;
    margin-right: 10px;
    line-height: 1;
    display: inline-block;

}

.counters .counter-text {
    color: #fff8ef;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    letter-spacing: 0;
    text-align: left;
    vertical-align: baseline;
}


/* SUB HEADING */
h2.sub-heading {
    position: relative;
    padding: 0;
    font-weight: 800;
}


/* TAGS MOBILE */
.tags {
    margin-bottom: 100px;
}

.tags .button-outline {
    border: 0;
    color: #2c160b;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: -1px;
}

.tags .button-outline:nth-child(odd) {
    color: #f0f0f0;
    text-shadow: -1px 1px 0 #2c160b,
				  1px 1px 0 #2c160b,
				 1px -1px 0 #2c160b,
				-1px -1px 0 #2c160b;
    letter-spacing: 1px;
}

.tags .button-outline:nth-child(odd):hover {
    color: #f0f0f0;
    text-shadow: -1px 1px 0 #606c76,
				  1px 1px 0 #606c76,
				 1px -1px 0 #606c76,
				-1px -1px 0 #606c76;
    letter-spacing: 1px;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
    font-weight: 400;
}

.scroll {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.scroll span {
    display: inline-block;
    margin-right: 40px;
}


.scroll-rtl {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-rtl span {
    display: inline-block;
    margin-right: 40px;
}


/* WORK SHOTS DAN PORTFOLIO */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.img-parallax {
    border-radius: 12px;
    max-width: 100%;
    height: auto;

    left: 0;
    transform: translate(0, -6.01701%);
    pointer-events: none
}

.feat-work .content {
    position: sticky;
    width: 100%;
    top: 42%;
    transform: translate(0, -6.01701%);
    padding-bottom: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works {
    width: 100vw;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.heroImgSatu {
    overflow: hidden;
    padding-bottom: 40%;
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: top center;
    border-radius: 4px;
}

.heroImgDua {
    overflow: hidden;
    padding-bottom: 50%;
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: top center;
    border-radius: 4px;
}

.heroImgTiga {
    overflow: hidden;
    padding-bottom: 40%;
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-position: top center;
    border-radius: 4px;
}

.portfolio {
    padding: 160px 0 40px;
}

.portfolio h2 {
    padding-right: 0;
}

.klien {
    display: flex;
    align-items: center;
    border-top: 0.0625rem dashed #0f1422;
    padding: 40px 0;
}

.role {
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
}


/* TESTIMONIALS */
.testimonials h1,
.testimonials h2 {
    padding-bottom: 18px;
    position: relative;
}

.testimonials h1::before,
.testimonials h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70%;
    /* or 100px */
    border-bottom: 5px solid #171a21;
}

.testimonial .stars i {
    font-size: 14px;
    color: #fab005;
}

.testimonial .nilai {
    margin-left: 6px;
    font-size: 12px;
    background: #fab005;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 600;
    color: #fff;
}

.testimonial p.nama-klien {
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

/* FORMULIR */
.formulir {
    margin-top: 80px;
    padding: 0;
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.formulir input:focus,
.formulir textarea:focus {
    border: 1px solid #171A21;
}

.formulir .button.button-outline {
    color: #171A21;
    font-weight: 600;
    border: 1px solid #171A21;
}


/* PENUTUP */
.penutup {
    color: #fff8ef;
    background: #0f0602;
    padding: 80px 0;
    text-align: center;
}

/* CTA */
.cta {
    text-align: center;
}

.cta h1 {
    color: #fff8ef;
}

.penutup .konsultasi {
    margin: 20px 0 40px;
    background: #d86c60;
    border: none;
    height: inherit;
}

/* FOOTER */
.footer a {
    color: #9e988d;
}

.footer a:hover {
    color: #d86c60;
}

.footer .site-name h1 {
    font-weight: 800;
    margin: 0;
    line-height: 1;
    color: #fff8ef;
}

.footer .site-name h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 8px;
    color: #fff8ef;
}

.footer h4 {
    font-weight: 700;
    color: #fff8ef;
}

.footer nav ul {
    list-style: none;
}

.footer nav ul li {
    text-transform: capitalize;
    font-weight: 300;
}

.footer nav ul li a {
    letter-spacing: 1px;
    transition: 0.4s ease-in;
    color: #9e988d;
}

.footer nav ul li a.active {
    font-weight: 600;
    color: #fff;
}

.footer nav ul li a:hover {
    color: #d86c60;
    transition: 0.4s ease-in;
}

.footer i.fa-envelope,
.footer i.fa-whatsapp {
    color: #9e988d;
}


/* MOBILE COLUMN PERCENTAGE EDIT, ETC */
@media (max-width: 39.9rem) {

    .row .column.column-20,
    .row .column.column-30,
    .row .column.column-50,
    .row .column.column-80 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .site-logo {
        max-width: 50% !important;
        z-index: 9
    }

    .header-button {
        display: none !important;
    }

    .header .navigasi {
        position: absolute;
        right: 0;
    }

    label {
        margin-bottom: 39px;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #0f0602;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        text-decoration: none;
        color: #f0f0f0;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #f4f4f4;
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 24px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 7px;
    }

    .header .menu-icon .navicon:after {
        top: -7px;
    }

    /* menu btn */

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 240px;
        -webkit-box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /* TESTIMONIAL */
    .testimonial-container {
        padding-top: 40px !important;
    }
    
    /* DESCRIPTION */
    .description {
        margin-top: -360px;
    }
}


/* DESKTOP */
@media (min-width: 40.0rem) {
    .container {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 20px;
    }

    /* HEADER */

    .header nav {
        margin: 26px 0 0;
    }

    .header nav ul li {
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
        font-weight: 300;
    }

    .header nav ul li a {
        letter-spacing: 1px;
        color: #9e988d;
        transition: 0.4s ease-in;
    }

    .header nav ul li a.active {
        font-weight: 600;
        color: #fff8ef;
    }

    .header nav ul li a:hover {
        color: #d86c60;
        transition: 0.4s ease-in;
    }

    .header .button.konsultasi {
        height: inherit;
        margin: 14px 0 0 0;
        float: right;
        background: #d86c60;
        border: none;
    }

    .header .menu-btn,
    .header .menu-icon {
        display: none;
    }

    /* HERO */
    .hero-text {
        padding: 16rem 0 4rem;
        background: #0f0602;
        width: 100vw;
    }

    .hero-text h1 {
        font-size: 118px;
        letter-spacing: -4px;
        line-height: 1;
        font-weight: 800;
    }

    /* COUNTERS */
    .counters {
        display: flex;
        position: relative;
        background: #0f0602;
        color: #fff8ef;
    }

    /* FEAT WORKS */
    .feat-work {
        margin-bottom: -250px;
        position: relative;
        transition: top 1s ease-in-out;
    }

    .img-parallax {
        transform: translate(0, -1.01701%);
    }

    .feat-work .content {
        top: 35%;
        transform: translate(0, -1.01701%);
        padding-bottom: 80px;
    }

    .portfolio h2 {
        padding-right: 80px;
    }

    .role {
        text-align: right;
    }


    /* SUB HEADING */
    h2.sub-heading {
        position: relative;
        padding: 0 80px 0 0;
        font-weight: 800;
    }

    /* TAGS */
    .scroll {
        margin: 80px 0 20px;
    }

    /* TESIMONIALS */
    .testimonial-container {
        padding-top: 180px !important;
        padding-right: 60px !important;
    }

    /* FORMULIR */
    .formulir {
        padding: 60px 60px 30px 60px;
        border-radius: 48px 48px 0 0;
        border-left: 26px solid rgba(185, 207, 230, 0.29);
        border-top: 26px solid rgba(185, 207, 230, 0.29);
        border-right: 26px solid rgba(185, 207, 230, 0.29);
    }

    /* PENUTUP */
    .penutup {
        padding: 160px 0 0;
        text-align: inherit;
    }

    /* FOOTER */
    .footer {
        padding: 80px 0;
    }

    /* CTA */
    .cta h1 {
        font-size: 62px;
    }
}
