@font-face {
    font-family: 'Mattone';
    src: url('fonts/Mattone-150.woff2') format('woff2'),
        url('fonts/Mattone-150.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped {
    overflow: hidden;
}
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #CDFF07 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #CDFF07;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 18px;
    color: #030000;
    overflow-x: hidden;
    background: url(images/frek.jpg);
}

a,
a:visited {
    color: #000;
    transition: all .4s ease;
}

a:hover {
    color: #cdff07;
    transition: all .4s ease;
}

h1,
h2{
    font-family: "Mattone";
    font-weight: 600;
    -webkit-text-stroke: 1px #000;
    letter-spacing: 1px;
}

h3 {
    color: #000;
    font-family: "Mattone";
    font-size: 22px;
    font-weight: 600;
    line-height: 24px; /* 109.091% */
    -webkit-text-stroke: .5px #000;
    letter-spacing: .5px;
}

h4,
h5,
h6 {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    max-width: 1320px;
}

.preambule {
    text-align: center;
    padding-bottom: 40px !important;
}

.preambule h6 {
    letter-spacing: 3px;
}

/**
 * MENU
**/
.menubar-container {
    position: fixed;
    left: 50%;
    top: 80px;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all ease .4s;
}

.menubar-container.active {
    top: 42px;
    transition: all ease .4s;
}

.menubar {
    margin: 0 auto;
    font-weight: 700;
    margin-left: -1rem;
}

.menubar-container.active .logo, .menubar-container.active .menu {
    box-shadow: rgba(0, 0, 0, 0.36) 0px 22px 70px 4px;
    transition: all ease .4s;
}

.menubar>.column {
    padding: 8px 8px 2px;
}

.logo {
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    background: #111;
    padding: 8px 0 0 8px !important;
}

.menu {
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    background: #111;
}

.menu ul {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li {
    padding: 10px 0 12px;
    margin-bottom: 0;
}

.menu ul li a {
    color: #fff;
    font-size: 16px;
}

.menu ul li.tombol-pesan {
    background: #CDFF07;
    border-radius: 90px;
}

.menu ul li.tombol-pesan a {
    color: #000;
    padding-left: 18px;
    padding-right: 18px;
}

.header .menu-btn,
.header .menu-icon {
    display: none;
}

/**
 * HERO
**/
.hero-container {
    background: url(images/background-lurus.jpg) bottom center no-repeat;
    background-size: cover;
    background-color: #fafafa;
}
.hero {
    padding-top: 220px;
    padding-bottom: 520px;
    display: flex;
    align-items: center;
}

.sparkle-stars {
    position: absolute;
    top: -60px;
    margin-left: -100px;
}

.star {
    position: absolute;
    top: 120px;
    right: 60px;
}

.hero-header h1 {
    color: #000;
    text-align: center;
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.48px;
    -webkit-text-stroke: 2px #000;
    position: relative;
}

.slanted {
    background: #CDFF07;
    padding: 14px 12px 8px;
    border-radius: 8px;
    transform: skew(-2deg, 0) rotate(-2deg);
    display: inline-block;
}

.hero-text {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 50px;
}

.underline {
    padding-bottom: 10px;
    background: url("images/underline-kecil.svg") bottom no-repeat;
}

.cta-grup {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.cta-button {
    border-radius: 999px;
    background: #000;
    color: #CDFF07;
    padding: 22px 48px;
    font-weight: 700;
    display: inline-block;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 22px 70px 4px;
    transition: transform .25s, visibility .25s ease-in;
    transform: scale(1.1);
}

.cta-button:visited {
    color: #CDFF07 !important;
}

.cta-button:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.2);
    transition: transform .25s, visibility .25s ease-in;
}

.review-google {
    padding-top: 40px;
    margin-left: 30px;
}

.cta-button .gratis {
    background: #CDFF07;
    color: #000;
    padding: 4px 12px 6px;
    font-size: 16px;
    border-radius: 999px;
    font-weight: 700;
    margin-left: 8px;
}

.brands {
    margin-top: 60px;
}

.brands-preambule {
    color: #767676;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

ul.brands-logo {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**
 * CARA KERJA
**/
.cara-kerja-container {
    position: relative;
}
.cara-kerja {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;    
    border-radius: 24px;
}

.swirl {
    position: absolute;
    left: calc(50% - 10px);
    top: -60px
}

.urutan .column {
    padding: 0 28px !important;
}

.urutan .nomor {
    font-size: 4rem;
    font-weight: 700;
}

.cara-kerja .column:nth-of-type(2) {
    margin-top: 60px;
}


/**
 * QUOTE
**/
.quote {
    background: #f8f7f2;
    border-radius: 32px;
    position: relative;
}

.quote-content {
    padding: 80px 60px 50px 340px;
}

.quote h2 {
    font-size: 28px;
}

.quote h5 {
    font-weight: 700;
}

.quote-icon {
    margin-bottom: 20px;
}

.lamp {
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.quote-char {
    position: absolute;
    left: -100px;
    bottom: -80px;
}

.owl-theme .owl-dots .owl-dot span {
    transition: all 0.4s ease;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 30px;
    transition: all 0.4s ease;
}



/**
 * KEUNGGULAN
**/
.keunggulan-container {
    background: url(images/background.jpg) center top no-repeat #effdf3cb;
    background-size: cover;
    position: relative;
    margin-top: 110px;
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}

.keunggulan h3 {
    margin-top: 30px;
}

.daftar-keunggulan {
    margin-bottom: 10px;
}

.daftar-keunggulan img {
    height: 46px;
    width: auto;
}

/** 
 * PORTFOLIO
**/
.portfolio {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}
.klien h1 {
    color: #000;
    font-weight: 700;
    font-size: 26px;
    -webkit-text-stroke: 0;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
    -webkit-text-stroke: .5px #000;
}

.klien a {
    color: #000;
}

.feat-klien {
    margin-bottom: 10px;
}

.feat-klien h4 {
    font-family: "Mattone";
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 0;
    -webkit-text-stroke: .5px #000;
}

.feat-klien p {
    font-size: 14px;
    text-transform: uppercase;
}

.feat-klien a {
    color: #000;
}

.kancil {
    background: url(images/kancil.png) center center no-repeat;
    background-size: cover;
    height: 670px;
    border-radius: 32px !important;
    padding: 40px !important; 
    position: relative;
}

.skv {
    background: url(images/skv.png) center center no-repeat;
    background-size: cover;
    height: 325px;
    border-radius: 32px !important;
    padding: 40px !important; 
    position: relative;
    margin-bottom: 20px;
}

.radex {
    background: url(images/radex.png) top center no-repeat;
    background-size: cover;
    height: 325px;
    border-radius: 32px !important;
    padding: 40px !important; 
    position: relative;
}

.deskripsi {
    border-radius: 22px;
    padding: 26px 28px 4px 30px;
    position: absolute;
    bottom: 34px;
    width: calc(100% - 80px);
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(6px);
}

.arrow-top-right {
    float: right;
    margin-top: 10px;
}

.portfolio h2 {
    padding-right: 0;
}

.klien {
    display: flex;
    align-items: center;
    border-top: 0.0625rem dashed #0f1422;
    padding: 40px 0;
}

.klien:first-child {
    border-top: none;
}

.role {
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
}

/** 
 * DAFTAR HARGA
**/
.daftar-harga-container {
    background: url(images/background.jpg) center top no-repeat #effdf3cb;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 190px;
    position: relative;
}
.harga-title {
    text-align: center;
}
.daftar-harga {
    background: #ffffffd5;
    backdrop-filter: blur(7px);
    border: 1px solid #fff;
    border-radius: 32px;
    margin-top: 52px;
    display: flex;
    height: auto;   
}
.daftar-harga h3 {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.daftar-harga .paket {
    padding: 42px 40px 34px;
    position:relative;
    display:flex;
    flex-direction:column;
    vertical-align: auto;
    font-weight: 500;
}
.daftar-harga .paket.feat {
    position: relative;
    top: -44px;
    border-radius: 32px;
    background: #CDFF07;
    box-sizing: border-box;
    font-weight: 500;
}
.daftar-harga .paket.feat .fire {
    position: absolute;
    left: 16px;
}
.daftar-harga .paket.feat .feat-harga-title {
    margin-left: 40px;
}
.paket small, .harga.feat small {
    font-size: 12px;
    float: right;
    letter-spacing: 1px;
}
span.harga {
    float: right;
    color: #827C7A;
    -webkit-text-stroke: 0;
}
.daftar-harga ul {
    list-style-position: outside;
    margin-left: 26px;
    }
.daftar-harga ul li {
    list-style-image: url(images/check-mark-dark.svg);
    font-size: 18px;
}
.button.pesan-sekarang {
    border-radius: 999px;
    border: 0;
    background: #e1d9ef;
    color: #606c76;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.16px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    display: inline-table;
    margin-top:auto;
    transition: 0.4s ease;
}
.paket.feat .button.pesan-sekarang {
    border-radius: 999px;
    border: 0;
    background: #000;
    color: #CDFF07;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.16px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    display: inline-table;
    transition: 0.4s ease;
}    
.paket a.button.button.pesan-sekarang:hover, .paket.feat a.button.button.pesan-sekarang:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.1);
    transition: transform .25s, visibility .25s ease-in;
}
.info-small {
    margin-top: 30px;
}

/** 
 * FAQ
**/
.faq-container {
    padding-top: 20px;
    padding-bottom: 10px;
}
.collapse {
    overflow: hidden;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, height;
    will-change: opacity, contents;
  }
  .collapse:not(.is-active) {
    height: 0;
    opacity: 0;
  }
  
  .accordion {
    --background: #fff;
    --border-radius: 8px;
    border-radius: var(--border-radius);
    background: var(--background);
    border: 1px solid #eaf0f3;
  }
  .card {
    overflow: hidden;
    margin: -1px -1px 1px;
    background: var(--background);
    border: 1px solid #eaf0f3;
    transition: all 0.5s ease;
    will-change: contents;
    text-align: left;
    padding: 32px;
    width: calc(100% + 2px) !important;
  }
  .card:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .card:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    margin-bottom: -1px;
  }
  .card:not(:last-child):not(.is-active) {
    border-bottom-color: transparent;
  }
  .card.is-active {
    background: #fcfcfc;
    border-radius: var(--border-radius);
  }
  .card.is-active + .card {
    border-top-color: transparent;
  }
  .card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    margin: 0;
    margin-top: 4px;
    margin-bottom: -1px;
    padding: 0.5rem 1.25rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .card__title span {
    width: 90%;
  }
  .card__title:hover .icon {
    opacity: 0.8;
  }
  .card__title.is-active .icon {
    transform: rotateX(180deg);
    opacity: 1;
  }
  .card__title .icon {
    width: 28px;
    height: 28px;
    fill: currentColor;
    opacity: 0.3;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: -0.25rem;
  }
  .card__content {
    padding: 1.25rem;
  }
  .card__content ul {
    list-style-position: outside;
    margin-left: 20px;
  }
  
  .accordion a {
    color: inherit;
    text-decoration: none;
  }
  
  .accordion a,
  [data-toggle] {
    cursor: pointer;
  }
  .faq-nomor {
    color: #9D96A8;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.25px;
    margin-left: 10px;
  }


/**
 * MARQUEE 
**/
.marquee {
    font-family: 'Mattone', sans-serif;
    display: flex;
    position: relative;
    top: -80px;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
    transform: scale(1.4);
    transition: all 1s ease;
    overflow: hidden;
  }
  .marquee .text {
    margin: 0;
    font-size: 80px;
    color: #000;
    transition: all 2s ease;
    font-weight: 800;
    background: transparent;
    line-height: 1.2;
  }
  .marquee .text > .outline {
    -webkit-text-stroke: 2px #000;
    color: transparent;
  }
  .marquee > div {
    display: flex;
    -webkit-animation: scrollText 120s infinite linear;
            animation: scrollText 120s infinite linear;
  }
  .marquee.right > div {
    display: flex;
    -webkit-animation: scrollTextRight 120s infinite linear;
            animation: scrollTextRight 120s infinite linear;
  }
  @-webkit-keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @-webkit-keyframes scrollTextRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes scrollTextRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
  }
.content-end {
    background: #000;
}
.curve-end {
    padding: 50px 0;
    background: url(images/frek.jpg) top center no-repeat;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
}

/**
 * FOOTER 
**/
.footer {
    background: #000;
    color: #f1f1f1;
    padding-top: 110px;
}

.cta-footer {
    text-align: center;
}

.footer h1 {
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.48px;
    -webkit-text-stroke: 2px #f1f1f1;
    position: relative;
}

.footer-text {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 30px;
}

.footer .slanted {
    background: #CDFF07;
    color: #000;
    padding: 14px 12px 8px;
    border-radius: 8px;
    transform: skew(-2deg, 0) rotate(-2deg);
    display: inline-block;
    -webkit-text-stroke: 2px #000;
}

.footer .cta-button {
    border-radius: 999px;
    color: #000;
    background: #CDFF07;
    padding: 22px 24px;
    font-weight: 700;
    display: inline-block;
    margin-top: 30px;
    transition: transform .25s, visibility .25s ease-in;
    transform: scale(1.1);
    margin-top: 50px;
}
.footer .cta-button:visited {
    color: #000 !important;
}

.footer .cta-button:hover {
    transform: scale(1.2);
    transition: transform .25s, visibility .25s ease-in;
}

.footer .cta-button {
    padding: 22px 26px;
}

.footer .cta-button .gratis {
    color: #CDFF07;
    background: #000;
    padding: 4px 12px 6px;
    font-size: 16px;
    border-radius: 999px;
    font-weight: 700;
    margin-left: 8px;
}

.about {
    margin-top: 110px;
    padding-top: 110px;
    color: #b3b3b3;
    border-top: 1px solid #525252;
}

.profil {
    border-radius: 999px;
    max-width: 136px;
    height: auto;
}

.copyright {
    font-size: 14px;
    margin-top: 110px;
    padding-bottom: 40px;
    text-align: right;
}

.instagram {
    position: relative;
    text-align: left;
}

.ig-icon {
    position: absolute;
    top: -65px;
}

.copyright a {
    color: #b3b3b3;
}


/**
 * BLOG
 **/
.blog-container {
    background: url(images/background.jpg) center center no-repeat;
    background-size: cover;
    background-color: #fafafa;
}
.blog {
    padding-top: 220px;
    padding-bottom: 120px;
    display: flex;
    align-items: center;
}

.blog-header h1 {
    color: #000;
    text-align: center;
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.48px;
    -webkit-text-stroke: 2px #000;
    position: relative;
}

.blog-text {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 50px;
}

/**
 * BLOG POST
**/
.blog-container {
    position: relative;
}
.blog-post {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;    
}

.blog-post-single {
    padding-top: 110px;
    padding-bottom: 20px;
}

.blog-content {
    font-size: 2rem;
    text-align: left;
}

.blog-content img {
    padding-bottom: 30px;
}

/**
 * MOBILE VIEW 
 **/
@media (max-width: 768px) {
    /**
    * RESET MILIGRAM 
    **/
    .column.column-20,
    .column.column-30,
    .column.column-33,
    .column.column-40,
    .column.column-50,
    .column.column-60,
    .column.column-67,
    .column.column-80 {
        max-width: 100% !important;
        width: 100% !important;
    }
    .column-offset-10,
    .column-offset-20 {
        margin-left: 0 !important;
    }
    /**
    * MENU
    **/
    .menubar-container {
        position: sticky;
        left: 0;
        top: 40px;
        transform: translate(0, 0);
        
    }

    .menubar-container.active {
        top: 20px;
    }

    .menubar {
        margin-left: 0;
        position: relative;
    }
    
    .menubar>.column {
        padding: 0;
    }
    
    .logo {
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
    }

    .menu {
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        border-bottom-left-radius: 28px;
        position: absolute;
        margin-top: 10px;
    }
    
    .header .menu-btn,
    .header .menu-icon {
        display: inherit;
    }
    
    label {
        margin-bottom: 10px;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background: #111;
        position: relative;
        top: 0;
        display: block
    }
    
    .header ul li {
        padding: 0;
    }

    .header li a {
        display: block;
        padding: 14px 30px;
        text-decoration: none;
        color: #fff;
    }
    
    .menu ul li.tombol-pesan {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .menu ul li.tombol-pesan a {
        padding-left: 30px;
        padding-right: 30px;
        
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background: #cdff07;
        color: #111;
        padding-left: 40px;
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */
    .header .menu-icon {
        cursor: pointer;
        float: right;
        padding: 22px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #111;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 24px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 7px;
    }

    .header .menu-icon .navicon:after {
        top: -7px;
    }

    /* menu btn */
    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 418px;
        -webkit-box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /**
    * HERO - BLOG
    **/
    .hero {
        padding-top: 100px;
        padding-bottom: 420px;
    }

    .blog {
        padding-top: 100px;
        padding-bottom: 110px;
    }

    .hero-header h1,
    .blog-header h1 {
        font-size: 3.625rem;
        -webkit-text-stroke: 1px #000;
    }

    .hero-text,
    .blog-text {
        font-size: 1.8rem;
    }

    .cta-grup {
        display: block;
    }

    .review-google {
        padding-top: 40px;
        margin-left: 0;
        display: block;
    }

    .brands {
        display: none
    }

    /**
    * CARA KERJA & BLOG POSTS LIST
    **/
    .cara-kerja-container,
    .blog-post-container {
        position: relative;
    }
    
    .cara-kerja h2,
    .blog-post h2 {
        font-size: 2.8rem;
    }

    .cara-kerja .column:nth-of-type(2) {
        margin-top: 0;
    }
    
    .cta-button {
        transform: scale(1.0);
    }


    /**
    * QUOTE
    **/
    .quote-content {
        padding: 40px;
    }

    .quote h2 {
        font-size: 1.8rem;
        -web
    }

    .quote-char {
        display: none;
    }



    /**
    * KEUNGGULAN
    **/
    .keunggulan h2 {
        font-size: 2.8rem;
    }

    .keunggulan h3 {
        font-size: 1.8rem;
        margin-top: 24px;
    }

    .daftar-keunggulan {
        font-size: 1.6rem;
    }

    /** 
    * PORTFOLIO
    **/
    .portfolio h2 {
        font-size: 2.8rem;
    }
    
    .klien h1 {
        font-size: 2rem;
        -webkit-text-stroke: .5px;
        letter-spacing: 0;
        line-height: 3rem
    }
    
    .feat-klien {
        margin-bottom: 10px;
    }

    .feat-klien h4 {
        font-size: 2rem;
        margin-bottom: 6px;
    }

    .feat-klien p {
        font-size: 12px;
    }

    .kancil {
        height: 325px;
        padding: 10px !important; 
    }

    .skv {
        padding: 10px !important; 
    }

    .radex {
        padding: 10px !important; 
    }

    .deskripsi {
        bottom: 10px;
        width: calc(100% - 20px);
        padding: 26px 28px 0 30px;
    }

    .arrow-top-right {
        display: none
    }

    .role {
        margin-top: 4px;
        text-align: left;
    }

    /** 
    * DAFTAR HARGA
    **/
    .daftar-harga {
        margin-top: 0;
    }
    .daftar-harga-container h2 {
        font-size: 2.8rem;
    }
    .daftar-harga h3 {
        font-size: 2rem;
    }
    .daftar-harga .paket {
        padding: 22px 22px 14px 20px;
    }
    .daftar-harga .paket.feat {
        top: 0;
        padding: 22px 26px 14px;
    }
    .daftar-harga .paket.feat .fire {
        left: 6px;
    }
    .paket small, .harga.feat small {
        font-size: 10px;
    }
    .daftar-harga ul li {
        font-size: 1.6rem;
    }
    span.harga {
        color: #000;
    }

    /** 
    * FAQ
    **/
    .faq-container h2 {
        font-size: 2.8rem;
    }
    .card {
        padding: 16px
    }
    .marquee .text {
        font-size: 4rem;
    }
    .curve-end {
        padding: 20px 0;
    }

    /**
    * FOOTER 
    **/
    .footer {
        background: #000;
        color: #f1f1f1;
        padding-top: 110px;
    }

    .cta-footer {
        text-align: center;
    }

    .footer h1 {
        font-size: 3.625rem;
        -webkit-text-stroke: 0 #fff;
    }

    .footer-text {
        font-size: 1.6rem;
    }

    .footer .cta-button {
        transform: scale(1.0);
    }

    .footer .cta-button:hover {
        transform: scale(1.1);
    }
    
    .about {
        padding-top: 60px
    }
    
    .profil {
        width: 90px;
    }
    
    .instagram, .copyright {
        text-align: left;
    }
}
