/* INITIAL SET */
body {
    margin: 0;
    padding: 0;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 16px;
    background: #fff;
    background-size: cover;
    color: #030000;
    overflow-x: hidden;
}
:root {
    --animate-duration: 700ms;
    --animate-delay: 0.4s;
  }
.container {
    max-width: 1240px;
}
a, a:visited {
    color: #434842;
}
a:hover {
    transition: 0.4s ease;
}

/* HERO */
.header-container {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    padding-top: 20px;
    width: 100%;
    z-index: 9999;
    transition: 0.4s ease;
    background: transparent;
}
.header-container.active {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s ease;
}
.nama-situs h1 {
    color: #3b1d5f;
    font-size: 30px;
    line-height: 90%;
    font-weight: 800 !important;
}


/* SEMENTARA 
   EDIT HEADER MENU DAN CTA BUTTON
*/
.header-container.active .nama-situs h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 22px;
    transition: 0.2s ease;
}
.nama-situs h1 {
    margin-top: 9px;
    transition: 0.2s ease;
}
span.header-call-btn {
    border: 0;
    background-color: #3b1d5f;
    color: #e1d9ef;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.72px;
    padding: 12px 40px 20px;
    height: 6rem;
    border-radius: 8px;
    transition: 0.4s ease;
    display: inherit;
}
span.header-call-btn .material-symbols-sharp {
    top: 8px;
    right: 10px;
    position: relative;
}


/* HERO */
.hero-container {
    padding-top: 120px;
    position: relative;
}
.hero-container:before {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
     width: 100%;
      background-image: url("images/header-bg.png");
      background-position:top center;
      background-repeat: no-repeat;
       z-index: -9;
      -webkit-animation: zoomin 1.5s ease;
      animation: zoomin 1.5s ease;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
      opacity: 0;
          }
  
  /* Zoom in Keyframes */
  @-webkit-keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(1.2)
      }
      100% {
        opacity: 1;
        transform: scale(1)
      }
  }
  @keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(1.2)
      }
      100% {
        opacity: 1;
        transform: scale(1)
      }
  } /*End of Zoom in Keyframes */
.hero {
    padding-top: 20px;
}
.hero-text {
    padding-bottom: 80px !important;
}
.mask {
    overflow: hidden;
}
.hero-text {
    position: relative;
}
.hero h1 {
    color: #3B1D5F;
    font-family: Plus Jakarta Sans;
    font-size: 10rem;
    font-style: normal;
    font-weight: 800;
    line-height: 88.5%; /* 225.675px */
    letter-spacing: -6.2px;
    margin-bottom: 0;
}
.hero p {
    margin-top: 40px;
    color: #3A3D49;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.28px;
    margin-bottom: 0;
    padding-top: 100px;
}
.hero-btn {
    margin-top: 20px;
}
.dotted-line {
    display: none;
}
.banner-gratis {
    position: absolute;
    top: 120px;
    right: 30px;
    width: 494px;
    height: auto;
}

/* SECTION CONTENT */
.section-title {
    color: #5e5e5e;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    text-align: center;
}
.section-content h2 {
    color: #030000;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.96px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

/* CLIENTS */
.clients-container .section-title {
    margin-bottom: 30px;
}
.san-marino {
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    padding: 30px;
    position:relative;
    margin-bottom: 30px;
}
.kurma {
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    padding: 30px;
    position:relative;
    margin-bottom: 30px;
}
.boncafe {
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    padding: 30px;
    position:relative;
    margin-bottom: 30px;
}
.kimora {
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    padding: 30px;
    position:relative;
    margin-bottom: 30px;
}
.skv {
    height: 400px;
    border-radius: 8px;
    background-size: cover;
    background-position: left center;
    padding: 30px;
    position:relative;
    margin-bottom: 30px;
}
.clients .tag ul {
    list-style: none;
}
.clients .tag ul li {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(7px);
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.275px;
    text-transform: uppercase;
    margin-right: 8px;
}
.nama-klien {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
}
.clients h5 {
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    line-height: 150%;
    font-weight: 500;
    letter-spacing: -0.4px;
    display: block;
    margin-bottom: 6px;
}
a.link-klien {
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.small-promo {
    display: none;
}
.small-promo:before{
    content:" ";
    display: block;
    height: 1px;
    width: 74px;
    position: absolute;
    top: 25%;
    left: 0;
    background: #3A3D49;
}
.lingkaran-container {
    display: none;
}
.tick {
    display: none;
}

/* BLOCKQUOTE */
.quote {
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0;
}
.quote p {
    font-size: 20px;
}
.quote h2 {
    color: #030000;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.96px;
    margin-top: 22px;
    margin-bottom: 60px;
}
.cut-circle {
    display: none;
}


/* PROSES */
.proses-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: inherit;
}
.proses-container .section-title {
    text-align: center;
}
.proses-container h2 {
    color: #030000;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.96px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}
.proses-content-pink {
    padding: 30px;
    border-radius: 8px;
    background: #3b1d5f;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.proses-content {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(17px);
    border: 1px solid #fff;
    margin-bottom: 30px;
}
.proses-content-pink h3 {
    color: #fff !important;
}
.proses h3 {
    color: #6C6766;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.16px;
    padding-top: 20px;    
    display: flex;
    align-items: center;
}
.proses span.nomer {
    font-weight: 700;
    font-size: 16px;
    margin-top: 2px;
    display: inline-block;
    text-align: center;
    color: #fff;
    line-height: 24px;
    margin-right: 6px;
    width: 24px; 
    height: 24px;     
    -moz-border-radius: 999px;
    border-radius: 999px
}
.proses span.nomer.satu {
    background: #5046C7;
}
.proses span.nomer.dua {
    background: #FF6645;
}
.proses span.nomer.tiga {
    background: #81D9F8;
}
.proses-content-pink p {
    color: #ffecfb !important; 
}
.proses p {
    color: #6B6766;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
}



/* DAFTAR HARGA */
.daftar-harga-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f5f5f5;
}
.harga-title {
    text-align: center;
}
.daftar-harga {
    background: #f8f4ffd5;
    backdrop-filter: blur(7px);
    border: 1px solid #fff;
    border-radius: 8px;
    margin-top: 0;
    display: flex;
    height: auto;   
}
.daftar-harga h3 {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.24px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.daftar-harga .paket {
    padding: 42px 40px;
    position:relative;
    display:flex;
    flex-direction:column;
    vertical-align: auto;
    font-weight: 500;
}
.daftar-harga .paket.feat {
    position: relative;
    top: 0;
    border-radius: 8px;
    background: #3b1d5f;
    box-sizing: border-box;
    font-weight: 500;
    color: #ebebf1;
}
.daftar-harga .paket.feat h3 {
    font-size: 24px;
    color: #ffa500;
}
.daftar-harga .paket.feat .fire {
    position: absolute;
    left: 16px;
}
.daftar-harga .paket.feat .feat-harga-title {
    margin-left: 40px;
}
.daftar-harga .paket.feat .harga.feat {
    color: #fff0b8;
}
.paket small, .harga.feat small {
    font-size: 12px;
    float: right;
    letter-spacing: 1px;
}
span.harga {
    float: right;
    color: #827C7A;
}
.daftar-harga ul {
    list-style-position: outside;
    margin-left: 26px;
    }
.daftar-harga ul li {
    list-style-image: url(images/check-mark-dark.svg);
    font-size: 18px;
}
.daftar-harga .paket.feat ul li {
    list-style-image: url(images/check-mark-putih.svg);
    font-size: 18px;
}
.button.pesan-sekarang {
    border-radius: 8px;
    border: 0;
    background: #e1d9ef;
    color: #8645ff;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.16px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    display: inline-table;
    margin-top:auto;
    transition: 0.4s ease;
}
.paket.feat .button.pesan-sekarang {
    border-radius: 8px;
    border: 0;
    background: #8645ff;
    color: #f8f4ff;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.16px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    display: inline-table;
    transition: 0.4s ease;
}    
.paket a.button.button.pesan-sekarang:hover {
    background: #606c76;
    color: #ECF5F6;
    transition: 0.4s ease;
}
.info-small {
    margin-top: 30px;
}

/* FAQ */
.faq-container {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}
.collapse {
    overflow: hidden;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, height;
    will-change: opacity, contents;
  }
  .collapse:not(.is-active) {
    height: 0;
    opacity: 0;
  }
  
  .accordion {
    --background: #f8f4ff;
    --border-radius: 8px;
    border-radius: var(--border-radius);
    background: var(--background);
    border: 1px solid #eaf0f3;
  }
  .card {
    overflow: hidden;
    margin: -1px -1px 1px;
    background: var(--background);
    border: 1px solid #eaf0f3;
    transition: all 0.5s ease;
    will-change: contents;
    text-align: left;
    padding: 32px;
    width: calc(100% + 2px) !important;
  }
  .card:first-child {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .card:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    margin-bottom: -1px;
  }
  .card:not(:last-child):not(.is-active) {
    border-bottom-color: transparent;
  }
  .card.is-active {
    background: #fff;
    border-radius: var(--border-radius);
  }
  .card.is-active + .card {
    border-top-color: transparent;
  }
  .card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.5rem;
    margin: 0;
    margin-top: 4px;
    margin-bottom: -1px;
    padding: 0.5rem 1.25rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .card__title span {
    width: 90%;
  }
  .card__title:hover .icon {
    opacity: 0.8;
  }
  .card__title.is-active .icon {
    transform: rotateX(180deg);
    opacity: 1;
  }
  .card__title .icon {
    width: 28px;
    height: 28px;
    fill: currentColor;
    opacity: 0.3;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: -0.25rem;
  }
  .card__content {
    padding: 1.25rem;
  }
  .card__content ul {
    list-style-position: outside;
    margin-left: 20px;
  }
  
  .accordion a {
    color: inherit;
    text-decoration: none;
  }
  
  .accordion a,
  [data-toggle] {
    cursor: pointer;
  }
  .faq-nomor {
    color: #9D96A8;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.25px;
    margin-left: 10px;
  }

/* FORM */
.whatsapp-form {
    margin-top: 40px;
}    
input[type="text"],
input[type="email"],
textarea {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 18px;
    border-radius: 8px;
    font-size: 16px;
    color: #030000;
    background: #ffffffae !important;
}    
/* WEBKIT FORM HACK FOR AUTO FILL INPUT */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #030000 !important;
}    
.whatsapp-form input {
    display: block;
    background-color: transparent;
}
#text-info {
    margin-top: 4px;
}
#text-info span.yes {
    color: #009933;
    font-weight: 700;
}
#text-info span.no {
    color: #990000;
    font-weight: 700;
}
span.form-btn {
    border: 0;
    background: #e1d9ef;
    color: #8645ff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.72px;
    padding: 6px 40px 18px;
    height: 5rem;
    border-radius: 8px;
    transition: 0.4s ease;
    display: inherit;
}



/* FOOTER */
.footer-container {
    background: #f5f5f5;
    padding-top: 60px;
    padding-bottom: 60;
    font-size: 18px;
}
.footer h1 {
    font-weight: 800;
    color:#3b1d5f;
    line-height: 90%;
}
.footer h5 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sosmed {
    text-align: left;
}
.end {
    margin-top: 60px;
    border-top: 2px solid #b8b8b8;
    padding-top: 40px;
    text-align: center;
}
.end ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}
.end ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
.end img {
    filter: grayscale(100%);
    height: 24px;
    width: auto;
}


/* MOBILE COLUMN RESET */
@media (max-width: 40.0rem) {
    .column.column-20,
    .column.column-30,
    .column.column-33,
    .column.column-40,
    .column.column-50,
    .column.column-67,
    .column.column-80 {
        max-width: 100% !important;
        width: 100% !important;
    }
    .column-offset-10 {
        margin-left: 0 !important;
    }
    .header .navbar {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    label {
        margin-bottom: 39px;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background: #fff;
        position: relative;
        top: 0;
    }

    .header-container.active .header ul {
        top: -36px;
    }

    .header li a {
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #3b1d5f;
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background: #e1d9ef;
        color: #8645ff;
        padding-left: 40px;
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */
    .header .menu-icon {
        cursor: pointer;
        float: right;
        padding: 22px 20px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        background: #3b1d5f;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 24px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #3b1d5f;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header .menu-icon .navicon:before {
        top: 7px;
    }

    .header .menu-icon .navicon:after {
        top: -7px;
    }

    /* menu btn */
    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: 406px;
        -webkit-box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 10px 31px -12px rgba(0, 0, 0, 0.4);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /* MARQUEE */
    .marquee, .marquee.right {
        display: none;
    }
}


/* DESKTOP */
@media (min-width: 40.0rem) {
    .header-container {
        padding-top: 40px;
    }
    .header-container ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-container.active {
        background: #ffffffe5;
        backdrop-filter: blur(9px);
        padding-bottom: 0;
    }
    .header-container.active ul {
        margin-bottom: 0;
    }
    .header-container.active ul li {
        margin-bottom: 0;
        padding: 0 0 12px;
    }
    .header-container ul li.cta-header {
        float: right;
    }
    .header-container.active span.header-call-btn {
        height: 5.5rem;
    }    
    .header .menu-btn,
    .header .menu-icon {
        display: none;
    }
    .menu {
        list-style: none;
        display: inherit;
    }
    .menu li {
        display: inline-block;
        text-transform: uppercase;
        padding: 20px 0;
        font-weight: 700;
    }
    span.header-call-btn {
        padding: 12px 40px 14px;
        height: 5rem;
    }
    .hero-container {
        padding-top: 180px;
    }
    .hero h1 {
        font-size: 255px;
        letter-spacing: -10.2px;
    }
    .hero p {
        font-size: 30px;
        font-weight: 500;
        margin-top: 0;
        padding-top: 80px;
    }
    .hero-btn {
        margin-top: 20px;
    }
    .dotted-line {
        display: inherit;
        position: absolute;
        left: 500px;
    }

    /* SECTION CONTENT */
    .section-title {
        color: #5e5e5e;
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 1.68px;
        text-transform: uppercase;
        text-align: center;
    }
    .section-content h2 {
        color: #030000;
        font-family: Plus Jakarta Sans;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
        letter-spacing: -0.96px;
        margin-top: 22px;
        margin-bottom: 60px;
        text-align: center;
    }
    .banner-gratis {
        position: absolute;
        top: 130px;
        right: -200px;
        width: 494px;
        height: auto;
    }

    /* CLIENTS */
    .clients-container .section-title {
        text-align: left;
        margin-bottom: 30px;
    }
    .san-marino {
        height: 500px;
        margin-top: -100px;
    }
    .kurma {
        height: 500px;
        margin-top: 180px;
    }
    .boncafe {
        height: 400px;
    }
    .kimora {
        height: 450px;
    }
    .skv {
        height: 350px;
    }
    .small-promo {
        display: inherit;
        position: relative;
        margin-top: 280px;
        margin-left: 74px;
    }
    .small-promo:before{
        content:" ";
        display: block;
        height: 1px;
        width: 54px;
        position: absolute;
        top: 25%;
        left: -74px;
        margin-right: 20px;
        background: #3A3D49;
    }
    .lingkaran-container {
        margin: 80px auto;
        text-align: center;
        display: block;
        position: relative;
    }
    .lingkaran {
        -webkit-animation:spin 14s linear infinite;
        -moz-animation:spin 14s linear infinite;
        animation:spin 14s linear infinite;
    }
    .tick {
        display: inherit;
        position: absolute;
        top: 100px;
        left: 174px;
    }
    @-moz-keyframes spin { 
        100% { -moz-transform: rotate(360deg); } 
    }
    @-webkit-keyframes spin { 
        100% { -webkit-transform: rotate(360deg); } 
    }
    @keyframes spin { 
        100% { 
            -webkit-transform: rotate(360deg); 
            transform:rotate(360deg); 
        } 
    }

    /* BLOCKQUOTE */
    .quote {
        padding-top: 100px;
        margin-top: 100px;
    }
    .quote h2 {
        font-size: 42px;
    }
    .quote p {
        font-size: 24px;
    }
    .cut-circle {
        display: inherit;
        position: absolute;
        right: 70px;
        top: 70px;
    }
    .squirt {
        position: absolute;
        left: 0;
        bottom: 0;
    }


    /* PROSES */
    .proses-container {
        margin-top: 160px;
        padding-top: 240px;
        padding-bottom: 160px;
        background-size: inherit;
    }
    .proses-container .section-title {
        text-align: left;
    }
    .proses-container h2 {
        text-align: left;
    }
    .proses-content-pink {
        margin-bottom: 0;
    }
    .proses-content {
        margin-bottom: 0;
    }

    /* DAFTAR HARGA */
    .daftar-harga-container {
        background: url(images/abstract.png) 30% center no-repeat #f5f5f5;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }
    .daftar-harga {
        margin-top: 52px;
    }
    .daftar-harga .paket.feat {
        top: -52px;
    }
    .daftar-harga .paket.feat h3 {
        font-size: 24px;
    }

    /* MARQUEE */
    .marquee {
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        display: flex;
        position: relative;
        top: -100px;
        left: 0;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        white-space: nowrap;
        transform: scale(2);
        transition: all 1s ease;
      }
      .marquee .text {
        margin: 0;
        font-size: 100px;
        color: #3b1d5f;
        transition: all 2s ease;
        font-weight: 800;
        font-style: italic;
        background: transparent;
      }
      .marquee .text > .outline {
        -webkit-text-stroke: 1px #3b1d5f;
        color: transparent;
      }
      .marquee > div {
        display: flex;
        -webkit-animation: scrollText 120s infinite linear;
                animation: scrollText 120s infinite linear;
      }
      .marquee.right > div {
        display: flex;
        -webkit-animation: scrollTextRight 120s infinite linear;
                animation: scrollTextRight 120s infinite linear;
      }
      @-webkit-keyframes scrollText {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-50%);
        }
      }
      @keyframes scrollText {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-50%);
        }
      }
      @-webkit-keyframes scrollTextRight {
        from {
          transform: translateX(-50%);
        }
        to {
          transform: translateX(0%);
        }
      }
      @keyframes scrollTextRight {
        from {
          transform: translateX(-50%);
        }
        to {
          transform: translateX(0%);
        }
      }

    /* FAQ */
    .faq-container {
        padding-top: 60px;
        padding-bottom: 160px;
    }
    .card__title span {
      width: 92%;
    }

    /* FOOTER */
    .footer-container {
        padding-top: 160px;
        padding-bottom: 0;
    }
    .footer h5 {
        margin-bottom: 20px;
    }
    .sosmed {
        text-align: right;
    }
    .end {
        margin-top: 60px;
        border-top: 2px solid #b8b8b8;
        padding-top: 40px;
        text-align: inherit;
    }
    .end ul {
        list-style: none;
        text-align: right;
        margin-top: 10px;
    }
    .end ul li {
        display: inline-block;
        margin-left: 30px;
        margin-right: 0;
    }
    #text-info {
        margin-top: 14px;
    }
}