
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:20px;
	padding-right:20px;
}
.depicter-1-element-18 .depicter-bullet-item{
	background-color:rgba(0, 0, 0, 0.5);
	border-radius:3px 3px 3px 3px ;
	width:15px;
	height:6px;
}
.depicter-1-element-18 .depicter-bullet-item.depicter-bullet-active{
	background-color:#02A146;
}
.depicter-1-element-18 .depicter-bullets-wrapper{
	gap:5px;
	flex-direction:row;
}
.depicter-revert .depicter-1-element-4{
	box-shadow:none;
	border-radius:0px;
}
.depicter-revert .depicter-1-element-3{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-2{
	font-size:58px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-image:linear-gradient(100.8deg, #3B863E 55%, #B5ECE5 100%);
}
.depicter-revert .depicter-1-element-11{
	box-shadow:none;
	border-radius:0px;
}
.depicter-revert .depicter-1-element-10{
	font-size:16px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-9{
	font-size:58px;
	color:#FFFFFF;
	font-family:"Poppins";
	font-weight:600;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-8 .depicter-section-background{
	background-image:linear-gradient(100.8deg, #222F23 55%, #17524A 100%);
}

/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-4{
	border-radius:0px;
}
.depicter-revert .depicter-1-element-2{
	font-size:34px;
}
.depicter-revert .depicter-1-element-11{
	border-radius:0px;
}
.depicter-revert .depicter-1-element-10{
	font-size:16px;
}
.depicter-revert .depicter-1-element-9{
	font-size:34px;
}

}
