@font-face {
    font-family: 'SCHABO Condensed';
    src: url('SCHABO-Condensed.woff2') format('woff2'),
        url('SCHABO-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

