/* Themify Customize Styling */
body {	background: none;
	background-color: #f5f5f5;
	font-family: "Poppins";	font-weight:400;
	line-height:1.5em;

	color: #141414; 
}
#headerwrap {	background: none;
	background-color: #f5f5f5;
	border: none !important; 
}
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {	background: none;
	background-color: #f5f5f5; 
}
body #site-logo a {		font-weight:700;
 
}
@media(max-width: 600px) { /* Themify Customize Styling */
body {	
	font-family: "Poppins";	font-weight:400;
 
}
#headerwrap {	
	border: none !important; 
}
 }