body {
    padding-top: 0 !important;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.header-container {
    background: #2a6fa8;
    padding-top: 20px;
}

.navbar {
    background: #2a6fa8;
    color: #ffffff;
    border: 0;
}

.navbar a {
    color: #ffffff !important;
}

.sidebar {
    height: 100vh;
    background: #4e73df;
    position: fixed;
    display: block;
}

.sidebar-inner {
    overflow-y: auto;
    max-height: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar-inner::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.page-content {
    position: relative;
    top: -90px;
}

.page-header {
    padding-bottom: 14px;
    margin: 20px 0 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    border-bottom: 1px solid #969bc1;
}

h1.admin small {
    font-size: 12px;
    display: block;
    color: #fff;
}

.content {
    padding-top: 110px;
}

.icon {
    display: inline-block;
    width: 14px;
    margin-right: 8px;
}

.list-group-item.active, .list-group-item.active:focus {
    z-index: 2;
    color: rgba(255,255,255,.9);
    padding: 10px 0;
    background: transparent;
    transition: .4s ease;
    border: 0;
}

.list-group-item.active:hover {
    z-index: 2;
    color: rgba(255,255,255,1);
    background: transparent;
    transition: .4s ease;
    border: 0;
}

.collapse-items {
    background-color: #fff;
    border-radius: 6px;
    border: 9px solid #fff;
}

.collapse-items > .list-group-item {
    position: relative;
    display: block;
    padding: 10px 17px;
    line-height: 1;
    margin-bottom: 0;
    border: 0;
    border-radius: 4px;
    transition: .4s ease;
}

.collapse-items > .list-group-item:hover {
    background: #eaecf4;  
    transition: .4s ease;
} 